<style> 
b{text-align:center;width:100%}
</style>

<br/>本《基础资产收益权转让协议》("本协议")由本协议第一部分《基础资产收益权转让明细》所列转让方和受让方及信息服务方于签署日签署。
<br/>风险提示与责任豁免
<br/>1.本协议的转让标的系基础资产收益权而非基础资产本身, 据此, 转让方对于受让方就基础资产而言, 仅负有在基础资产收益权范围内依据本协议第2条和第3.5条之规定向受让方履行转付义务的责任。若基础资产本身因任何原因发生损失(包括但不限于因基础资产项下投资的违约、早偿、利率变动等固有风险而发生损失或因计划管理人在管理过程中的故意不当或过失行为而发生损失), 受让方需自行承担基础资产发生损失或未达到预期收益的风险，转让方不对受让方负有任何担保责任或差额补足义务, 且该等损失亦不构成转让方对受让方之违约。
<br/>2.本协议第一部分《基础资产收益权转让明细》中所列示的年化预期收益率, 是根据基础资产的预期收益率扣除转让方在本协议下收取的交易服务费率及其他成本费用之后计算得出的受让方的预期收益率, 并非转让方对受让方的可得利益或回报所作的保证, 也不应被视为转让方对于基础资产和/或基础资产收益权的最低收益保证，且该年化预期收益率不同于有限合伙私募基金预期收益率。受让方应仔细阅读转让方在资邦财盈（上海）资产管理有限公司（下称“资邦财盈”）披露的基础资产相关信息披露文件，并自行寻求所需的专业投资建议。受让方一经签署本协议, 即视为其已经充分知悉并理解基础资产本身及基础资产收益权转让交易所可能带来的风险与收益。除本协议第7条所列示的违约责任之外，转让方不对受让方承担任何违约责任。
<br/>3.受让方应保证其为在中华人民共和国境内居住的具有完全民事行为能力的自然人或根据中国法律依法成立的法人或其他组织，并具备本协议第3条所规定的合格投资者资格。
<br/>4.受让方应自行判断此次交易是否完全符合受让方资产配置和财务规划的需求，确保此次交易与自身的风险承受能力相适应。
<br/>
<br/>鉴于:
<br/>1.转让方为               基金的投资人, 与              基金的管理人签署了《                  》, 并合法持有该基金份额及其收益权; 2.转让方同意按照本协议的条款和条件向受让方转让其持有的基金份额("基础资产", 详情如本协议第一部分《基础资产收益权转让明细》中所示)的收益权, 受让方同意按照本协议的条款和条件向转让方购买基础资产收益权("收益权转让")，收益权转让的商业条款如本协议第一部分《基础资产收益权转让明细》所示。
<br/>为此，根据《中华人民共和国合同法》等有关法律法规的规定，本着诚实信用、平等自愿、互利互惠等原则，将友好协商，各方达成如下协议:





