<div class="group promptBookClass" ng-if="promptBook">
	<div class="groupBg"></div>
	<div class="groupCon">
		<span class="del" ng-click="resetpromptBookFn()">
			<img src="/Public/UI/images/desktop/del_01.png" alt="">
		</span>
		<div class="title cen">
			风险提示书
		</div>
		<div class="tigs">
			<p class="p1 col0F7AC5">尊敬的用户：</p>
			<p class="p2">在投资理财产品之前，请您仔细阅读如下风险提示，并按照您的实际资产情况与风险承受能力，审慎作出投资决策。</p>
		</div>
		<ul class="cons">
			<li>
				<!-- <i class="i1">1</i> -->
				<p class="p1">法律和政策风险：</p>
				<p class="p2">1. 国家法律法规的变化，货币政策、财政政策、产业政策、证券交易政策、自然人税收政策的调整，以及政府对金融市场（包括但不限于证券交易市场）和监管政策的调整，都可能影响目标权益的收益及对目标权益的回购能力，从而影响产品财产安全及收益。</p>
				<p class="p2">2. 经济运行具有周期性的特点，宏观经济运行状况和金融市场利率的波动以及金融市场的波动等，均可能影响融资方的资金成本和经营业绩，从而影响主产品的投资收益，影响产品财产安全及收益。</p>
				<p class="p2">3. 本产品可能因法律法规、监管政策及监管机关禁止或限制本产品项下财产管理运用方式等原因无法成立或运作。</p>
				<p class="p2">4.根据目前有效的法律规定，在本产品进行收益分配时，产品份额持有人对本产品分配所得需自行申报纳税。</p>
			</li>
			<li>
				<!-- <i class="i2">2</i> -->
				<p class="p1">利率风险：</p>
				<p class="p2">在本产品存续期间，国家可能调整存贷款利率。利率的变化影响融资方的后续融资及财务情况，从而可能影响本产品的投资收益的收回。</p>
			</li>
			<li>
				<!-- <i class="i3">3</i> -->
				<p class="p1">财务状况恶化风险：</p>
				<p class="p2">融资方可能因资产管理不善、经济情况恶化等各类原因导致财务状况恶化，从而影响本产品的投资利益。</p>
			</li>
			<li>
				<!-- <i class="i4">4</i> -->
				<p class="p1">信用风险：</p>
				<p class="p2">1.融资方的信用风险: 本产品向融资方进行投资时，对于融资方盈利情况及现金流的预测全部基于现有的国家宏观经济政策、行业调控政策、当地相关产业政策、规划政策以及当前的市场预期。如上述因素发生超出预期的调整，本产品可能面临整体收益低于预期的情况出现。</p>
				<p class="p2">2.担保方信用风险: 本产品投资项下各担保人（保证人、出质人）的担保能力、各担保人是否按约履行担保义务、担保范围是否获得法院支持、是否及时按约办理质押登记、质押物的变现能力、质押物的价值等均可能影响到产品财产安全及收益. 保证人履行相关义务提供保证担保。如本产品与保证人签署的保证合同被有权机关认定为无效或因保证人未完成适当的内部授权手续签署保证合同，或保证人的担保金额不足全额履行相关义务，则将使本产品面临风险，并可能对本产品财产造成损失。</p>
			</li>
			<li>
				<!-- <i class="i5">5</i> -->
				<p class="p1">流动性风险：</p>
				<p class="p2">流动性风险可视为一种综合性风险，它是其他风险在较紧急财产管理和公司整体经营方面的综合体现。在某些情况下某些投资品种的流动性不佳，由此可能影响到产品财产投资收益的实现。产品财产要应对产品到期时产品投资者提取产品财产，如果产品财产不能迅速转变成现金，或者变现为现金时使资金净值产生不利的影响，都会影响产品财产运作和收益水平。</p>
			</li>
			<li>
				<!-- <i class="i6">6</i> -->
				<p class="p1">操作风险：</p>
				<p class="p2">1.不可预测或无法控制的系统故障、设备故障、通讯故障、停电等突发事故将有可能给您造成一定损失。因上述事故造成交易或交易数据中断，恢复交易时以事故发生前系统最终记录的交易数据为有效数据；</p>
				<p class="p2">2.由于您未能及时主动了解转让产品权益的信息，或由于通信故障、系统故障以及其他不可抗力等因素的影响，可能导致您无法及时做出合理决策，造成您的损失；</p>
				<p class="p2">3.委托他人代理交易、或长期不关注账户变化，可能致使他人恶意操作而造成的您的损失；</p>
				<p class="p2">4.由于法律法规、监管规定、市场因素或实际操作暂不可行等原因，现产品份额持有人可能无法成为产品份额持有人的；</p>
				<p class="p2">5.由于银行系统延迟、代扣代收机构系统故障等原因，造成交易双方不能及时收取或支付本协议项下款项。</p>
			</li>
			<li>
				<!-- <i class="i7">7</i> -->
				<p class="p1">产品风险：</p>
				<p class="p2">1.法律及违约风险：在本产品的运作过程中，因合作方违反国家法律规定或者相关合同约定而可能对产品财产带来风险。</p>
				<p class="p2">2.购买力风险：本产品的目的是产品财产的增值，如果发生通货膨胀，则投资所获得的收益可能会被通货膨胀抵消，从而影响到产品财产的增值。</p>
				<p class="p2">3.不能承诺产品保本及收益的风险: 产品利益受多项因素影响，包括市场价格波动、投资操作水平、国家政策变化等，产品既有盈利的可能，亦存在亏损的可能。根据相关法律法规规定，本公司不对产品的投资者作出保证本金及其收益的承诺。</p>
			</li>
			<li>
				<!-- <i class="i8">8</i> -->
				<p class="p1">延期支付风险:</p>
				<p class="p2">指因市场内部和外部的原因导致产品不能及时清算兑付，获得产品收益的时点将会延后，从而导致本金及收益的延期支付；或因本产品对应的金融产品因赎回期的可赎回量不能满足您的需求，从而导致本金及收益的延期支付。</p>
			</li>
			<li>
				<!-- <i class="i9">9</i> -->
				<p class="p1">早偿风险:</p>
				<p class="p2">如遇国家金融政策重大调整影响产品正常运作、本次产品权益转让等不能成立或者生效、或者司法机关要求、或发生其他不可抗力的情况，产品可能提前到期清算，您可能无法实现期初预期的全部收益，并将面临再投资机会风险。</p>
			</li>
			<li>
				<!-- <i class="i10">10</i> -->
				<p class="p1">其他风险：</p>
				<p class="p2">由于自然灾害、战争、法律法规或政策等无法避免或无法控制的因素，将影响市场的正常运行，从而导致资金损失、甚至影响产品的运行、偿付等正常进行。</p>
			</li>
		</ul>
		<div class="bot">
			以上并不能揭示从事交易的全部风险及市场的全部情形。投资者在做出交易决策前，应通过资邦财盈所公布的信息及其他相关公告了解理财产品权益转让的风险收益特征，确保投资金额占用家庭可支配收入总额的合理份额，根据自身的风险承受能力和资产状况等谨慎决策，自行承担全部风险。
		</div>
		<div class="btns cen">
			<a href="" class="argee" ng-click="agreepromptBookFn()">同意</a>
			<a href="" class="reset" ng-click="resetpromptBookFn()">不同意，并退出</a>
		</div>
	</div>
</div>