<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<a href='/Guest/Cust/custlogin'>登录</a>
<div style='    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 250px;
    margin: -150px;
    border: 1px solid;
    padding: 20px;'>
<h1>用户开户</h1><br>
<form method="post" enctype="multipart/form-data">
	身份证号:<input type='text' name='cod_cust_id_no' value=''><br>
	电话号码:<input type='text' name='tel' value=''><br>
	姓  名:<input type='text' name='nam_cust_real' value=''><br>
	密  码:<input type='text' name='password' value=''><br>
	重复密码:<input type='text' name='repassword' value=''><br>
	<input type='submit'>
</form>
</div>